  /* Section Selector Styles*/



  /* Section Class Styles */

  .boss-Cave-Background {
    background-image: url(./images/Cave_Interior.png);
    min-height: 50vh;
    background-size: cover;
    background-position: 50% 65%;
  }

  .boss-Cave-Image {
    background-image: url(./images/Spooky_Boss.png);
    min-height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .heroCard {
    /* aspect-ratio: 1/1; */
    /* background-image: url(./images/gravel.png); */
    /* background-size: cover; */
    /* background-position: center; */
    background-color: #000000;
    border: 4px rgb(0, 0, 0);
    box-shadow: inset 0px -10px 12px rgba(0, 0, 0, 0.363);
  }